.jalopy-nav {
    margin-right: 1em;
}

.jalopy-container {
    position: relative;
    min-height: 100vh;
}
#app {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}
#HomePage {
    color: #efcd21;
    text-decoration: underline;
    background-image: url("/assets/istockphoto-1076588860-612x612.jpeg");
    background-position: left;
}